---
import { type CollectionEntry } from "astro:content";
import PostsList from "@components/os/PostsList.astro";
import type { ContentCollection } from "@const/global";

interface CategoryListProps {
    groupedPosts: {
        [category: string]: {
            [subcategory: string]: CollectionEntry<ContentCollection.OS>[];
        };
    };
    selectedCategory?: string;
}

const { groupedPosts, selectedCategory } = Astro.props as CategoryListProps;
---

<div class="animate space-y-6">
    {
        selectedCategory ? (
            groupedPosts[selectedCategory] ? (
                Object.entries(groupedPosts[selectedCategory]).map(
                    ([subcategory, posts]) => (
                        <div class="ml-4 space-y-2">
                            <h3 class="font-semibold text-gray-700 dark:text-gray-300 text-xl">
                                {subcategory}
                            </h3>
                            <PostsList posts={posts} />
                        </div>
                    ),
                )
            ) : (
                <p>No posts found in this category.</p>
            )
        ) : (
            Object.entries(groupedPosts).map(([category, subcategories]) => (
                <section class="animate space-y-6">
                    <h2 class="font-semibold text-black dark:text-white text-2xl">
                        {category}
                    </h2>
                    <div class="space-y-4">
                        {Object.entries(subcategories).map(
                            ([subcategory, posts]) => (
                                <div class="ml-4 space-y-2">
                                    <h3 class="font-semibold text-gray-700 dark:text-gray-300 text-xl">
                                        {subcategory}
                                    </h3>
                                    <PostsList posts={posts} />
                                </div>
                            ),
                        )}
                    </div>
                </section>
            ))
        )
    }
</div>
