---
import { getCollection, type CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import CategoryList from "@components/CategoryList.astro";

export async function getStaticPaths() {
    const allPosts = (await getCollection("os")).filter(
        (post) => !post.data.draft,
    );
    const categories = new Set(allPosts.map((post) => post.data.category));
    return Array.from(categories).map((category) => ({
        params: { category },
    }));
}

const allPosts = (await getCollection("os")).filter(
    (post) => !post.data.draft,
);

const { category } = Astro.params;
const selectedCategory = category as string;

interface SubcategoryGroup {
    [subcategory: string]: CollectionEntry<"os">[];
}

interface CategoryGroup {
    [category: string]: SubcategoryGroup;
}

const groupedPosts: CategoryGroup = allPosts.reduce(
    (acc: CategoryGroup, post) => {
        const { category, subcategory } = post.data;
        const safeSubcategory = subcategory || "Uncategorized";

        if (!acc[category]) {
            acc[category] = {};
        }

        if (!acc[category][safeSubcategory]) {
            acc[category][safeSubcategory] = [];
        }

        acc[category][safeSubcategory].push(post);
        return acc;
    },
    {},
);
---

<PageLayout
    title={`OS - ${selectedCategory}`}
    description={`Posts under ${selectedCategory}`}
>
    <Container>
        <div class="space-y-10">
            <h1
                class="animate font-semibold text-black dark:text-white text-3xl"
            >
                OS - {selectedCategory}
            </h1>
            <CategoryList
                groupedPosts={groupedPosts}
                selectedCategory={selectedCategory}
            />
        </div>
    </Container>
</PageLayout>
